<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Add/Edit Game</h1>
    <form action="#" th:action="@{/posts/add}" th:object="${post}" method="post">
        <p>Title: <input type="text" th:field="*{title}" /></p>
        <p>Content: <input type="text" th:field="*{content}" /></p>
        <p><button type="submit">Save</button></p>
    </form>
    <a th:href="@{/posts}">Back to List</a>
</body>

</html>