.header {
    background-color: darkblue;
    padding: 50px;
    margin: 30px;
    text-align: center;
    font-family: monospace;
    color:white;
    background-image: linear-gradient(rgba(0, 140, 255, 0.829), rgb(255, 255, 255));

}

p {
   font-family: monospace;
  }

button {
outline-color:cadetblue;
}