<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>User View</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="http://localhost:35729/livereload.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

        body {
            font-family: 'Rubik', sans-serif;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</head>
|<body>

    <div class="container-sm">
        <text style = "align:center;"> </text>
        <table class="table table-unbordered table-striped table-hover">
            <thead>
                <tr>
                    <th style="width: 22%;">Create</th>
                    <th style="width: 22%;">Posts</th>
                    <th style="width: 22%;">Logout</th>
                    <th style="width: 22%;">Homepage</th>
                </tr>
            </thead>
            <h1 th:text="${user.username}"></h1>
            <h2 th:text="${user.description}"></h2>
            <h3 th:each="post : ${user.postsMade}">
                <a th:href="@{/posts/*{id}}" th:text="post #*{id}">25364</a>
            </h3>
</body>




<!-- Make comment system.-->
 <!-- Make a system where you can see the content/post.-->